@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');


.card-left {
    display: flex;
    margin-top: 20px;
    align-items: center;
    justify-content: start;
    max-width: 398px;
    max-height: 528px;
  }
  .image-div {
    width: 137px;
    height: 137px;
    opacity: 1;
    background: black;
    border-radius: 50%;
    border: 3px solid chartreuse;
  }
  .link {
    text-align: left;
    font: normal normal normal 24px/30px Muli;
    letter-spacing: 0px;
    color: #242424;
    opacity: 1;
  }
  .card {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    width: 398px;
    height: 528px;
    background: #F2F2F2 0% 0% no-repeat padding-box;
    border-radius: 16px;
    opacity: 1;
    padding: 10px;
  }
  
  .link-content {
    margin-left: 13px;
  }
  
  ul li {
    margin: 33px 0px;
  }
  .name {
    text-align: left;
    font: normal normal bold 32px/40px Muli;
    letter-spacing: 0px;
    color: #242424;
    opacity: 1;
    margin-left: 19px;
  }
  